@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-family: 'Noto Sans Japanese', serif;
    font-weight: 100;
}

.icheckbox_line-blue, .icheckbox_line-red {
    margin-top: 2px;
}

#formText {
    height: 2.6em;
    width: 20em;
}

.pure-button {
    margin-bottom: 2px;
    font-family: 'Noto Sans Japanese', serif;
}

.pure-button-small {
    font-size: 85%;
}
